  
  * {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
  }
  
 .container {  
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
    } 
    body{
      font-family: Calibri, Helvetica, sans-serif;
      height:50px; 
      min-height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background: #86ffa5;
      background: -webkit-linear-gradient(-135deg, #73fe96, #627bf8);
      background: -o-linear-gradient(-135deg, #73fe96, #627bf8);
      background: -moz-linear-gradient(-135deg, #73fe96, #627bf8);
      background: linear-gradient(-135deg, #73fe96, #627bf8);
    }
    
    .login100-form-title {
      font-family: Poppins-Bold;
      font-size: 30px;
      color: #000000;
      line-height: 0.7;
      text-align: center;
      height: 50px;
      width: 100%;
      display: block;
      padding-bottom: 100px;
    }
    
    input[type=text] {
      border: none;        /* Remove default borders */
      padding: 4px 8px;
      border-radius: 20px; /* Sadly outline does not round! therefore...*/
    }
    input[type=text]:focus{
      font-size: medium;
      outline: none;   
         /* Remove default outline and use border or box-shadow */
      box-shadow: 0 0 0 2px rgb(15, 144, 242); /* Full freedom. (works also with border-radius) */
    }
  